.auth-wrapper{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;

  background:linear-gradient(120deg,#f6f9fc,#eef2ff);
}

.auth-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}



.image-section {
  background: #f8f9fa;
  align-items: center;
  justify-content: center;
}

.image-section img {
  width: 80%;
  height: auto;
}

.form-section {
  padding: 40px;
}

.brand h2 {
  font-weight: 700;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

input.ng-invalid.ng-touched{
  border:1px solid red;
}